header {
    background-image: url(../images/bannerNoTxT.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: fixed;
    border: 2px solid purple;
    height:150px;
    text-align: center;
}

.socialmediaLogos {
    display: inline;
    float:left;
    height: 30px;
    width: 30px;
    position: relative;
    left: 0px;
    top:80%;
}

@font-face {
    font-family: 'MoonwalkMiss';
    src: url(../fonts/Moonwalk\ Miss.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Azonix';
    src: url(../fonts/Azonix-1VB0.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
}

nav {
    background-image: url(../images/bannerNoTxTblank.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px;
    border:2px solid purple;
}

nav ul {
    text-align: center;
    font-size: 1.2em;
}
nav ul li a {
    text-decoration: none;
    color:black;
}

#active {
    color: orange;
}

h1 {
    font-family: 'MoonwalkMiss';
    text-align: center;
    margin-bottom: 10px; 
    padding: 5px 10px; 
    border: 4px solid black; 
    border-radius: 10px; 
    display: inline-block; 
}

h2 {
    text-align: center;
    font-family: 'MoonwalkMiss';
}

nav ul li {
    font-family: 'MoonwalkMiss';
    list-style-type: none;
    background-color: orange;
    display: inline;
    padding: 10px;
    margin: 5px;
    border: 3px solid purple;
    border-radius: 10px;
}

.homeBody {
    background-image: url(../images/bannerNoTxTcolour.png);
    background-position: fixed;
    font-family: 'Azonix';
    text-align: center;
    padding-bottom: 50px;
}

.teamBody {
    background-image: url(../images/bannerNoTxTcolour.png);
    background-position: fixed;
    font-family: 'Azonix';
    text-align: center;
    padding-bottom: 50px;
}

.col_design {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* laign items to the top */
    gap: 50px; /* space between team members */
    padding: 20px;
    padding-top: 0; 
}

.team_member {
    width: 45%;
    text-align: center;
}
/* Add the vertical line between team members */
.team_member:first-child {
    border-right: 5px solid black;
    padding-right: 30px; 
}

.team_member:last-child {
    padding-left: 30px; 
}

figure {
    margin: 0;
    padding: 0;
}

.endrewImg, .joeImg {
    width: 100%; /* Makes images responsive */
    max-width: 350px;
    border: 5px solid black;
}

.bodyImages {
    display:inline;
    width:30%;
    height:300px;
    border:2px solid purple;
    margin:0%;
    padding: 0%;
    margin-top: 5px;
}

.bodyImagesv2 {
    display:inline;
    width: 18%;
    height:300px;
    border:2px solid purple;
    margin-top: 5px;
    margin:0%;
    padding: 0%;
}

footer {
    background-image: url(../images/bannerNoTxTblank.png);
    text-align: center;
    left:0;
    position:fixed;
    bottom:0;
    width:100%;
}